body {
  background-color: #000;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

@keyframes animate {
  from {font-size: .5vw;}
  to {font-size: 1.5vw; opacity: 1}
}

.name {
  color: #fff;
  text-align: center;
  font-size: 10vw;
  cursor: pointer;
}

.year {
  font-weight: 200;
  color: #fff;
  text-align: center;
  font-size: 6vw;
  cursor: pointer;
}

.info {
  font-weight: 200;
  color: #fff;
  text-align: left;
  font-size: 1.25vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.about {
  font-weight: 200;
  color: #bbb;
  text-align: left;
  font-size: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.help {
  visibility: hidden;
  color: #000;
  text-align: center;
  font-size: 1.25vw;
  border-radius: 50px;
  padding: 5px 0;
/*  background: #fff; */
  background: rgba(255,255,255,.75)
/*  opacity: 0.75; */
}

.timer {
  color: #bbb;
  text-align: center;
  font-size: 1vw;
  opacity: 0.75;
}

.switch {
  animation-name: animate;
  animation-duration: .5s;
  margin-left: 2vw;
  color: #bbb;
  text-align: left;
  font-size: 1.25vw;
  opacity: 0.75;
  cursor: pointer;
}

a { 
  color: #bbb;
  font-weight: 200;
  text-decoration: none;
}

a:hover {
  background: rgba(255,255,255,.75);
  color: #000;
}