body {
  background-color: #f8f9fa;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.name {
  color: #212529;
  text-align: center;
  font-size: 10vw;
  cursor: pointer;
}

.year {
  font-weight: 200;
  color: #212529;
  text-align: center;
  font-size: 6vw;
  cursor: pointer;
}

.info {
  font-weight: 200;
  color: #212529;
  text-align: left;
  font-size: 1.25vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.about {
  font-weight: 200;
  color: #383838;
  text-align: left;
  font-size: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.help {
  visibility: hidden;
  color: #f8f9fa;
  text-align: center;
  font-size: 1.25vw;
  border-radius: 100px 100px 100px 100px;
  padding: 5px 0;
  background: #212529;
  opacity: 0.5;
}

.timer {
  color: #383838;
  text-align: center;
  font-size: 1vw;
  opacity: 0.5;
}

.switch {
  color: #383838;
  text-align: left;
  font-size: 1.25vw;
  opacity: 0.5;
  cursor: pointer;
}

a { 
  font-weight: 200
  color: #383838;
}

a:hover {
  font-weight: 400
}